body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eef6ff;
}

p{
    margin: 0;
    padding: 0;
}

header{
    background-color: #0069cc;
    padding: 30px;
    text-align: center;
}

header h1{
    margin: 0;
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 700;
    color: #ffffff;
}

header p{
    color: #e6e6e6;
    font-size: 1rem;
    margin: .6rem 0rem;
}

/* modal (game config)*/
.modal-overlay{
    background-color: rgba(0, 0, 0, 0.596);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    display: none;
}
.game-config-modal {
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    width: fit-content;
    padding: 1rem 8rem;
    border-radius: .2rem;
    display: none;
}

.game-config-modal h2{
    font-size: 1.1rem;
    margin: 0 0 .5rem 0;
    text-align: center;
}

.game-config-modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 0 .7rem 0;
}

.game-config-modal .form-control{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label{
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: 500;
}

form input{
    border: 1px solid #919191;
    padding: .2rem .4rem;
    margin-bottom: .5rem;
}

form input:focus{
    outline: .1rem solid #6e6e6e;
}

.input-error label{
    color: rgba(226, 45, 0, 0.829);
}

.input-error input{
    background-color: rgba(226, 45, 0, 0.178);
    border: 1.5px solid rgba(226, 45, 0, 0.829);
}

.input-error input:focus{
    outline: none
}

#user-input_error{
    color: rgba(226, 45, 0, 0.829);
}

.game-config-modal form .forms-btns{
    margin-top: .5rem;
}

.game-config-modal button{
    text-transform: capitalize;
    margin: 0 .1rem;
    cursor: pointer;
}

.game-config-modal .confirm {
    background-color: #2483db;
    color: #ffffff;
    border: none;
    padding: .27rem 1rem;
    border-radius: .2rem;
    transition: .3s;
}

.game-config-modal .confirm:hover{
    background-color: #0073df;
}

.game-config-modal .cancel {
    background-color: inherit;
    border: none;
    color: #2483db;
    transition: .3s;
}

.game-config-modal .cancel:hover{
    color: #0073df;
}

/* Start Game Section */
.players-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.players-container{
    display: flex;
    justify-content: center;
    margin: 2.5rem 0rem 1.3rem 0rem;
}

.players-section .players{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8rem;
    background-color: #edf4fc;
    padding: 1rem 4.3rem;
    margin: 0rem .8rem;
    border-radius: .2rem;
    box-shadow: 0px 2px 6px 0px rgba(112,112,112,0.4);
    -webkit-box-shadow: 0px 2px 6px 0px rgba(112,112,112,0.4);
    -moz-box-shadow: 0px 2px 6px 0px rgba(112,112,112,0.4);
}

.players-section .players p{
    color: #3f3f3f;
    font-size: .97rem;
    font-weight: 600;
    margin: 0;
}

.players-section .players h3{
    margin: .8rem 0rem;
    color: #0054a3;
    font-size: 1.3rem;
}

.players-section .players span{
    margin: 0;
    padding-bottom: .8rem;
    font-weight: 800;
    font-size: 1.2rem;
}

.players-section .players button{
    border: none;
    background-color: inherit;
    color: #0054a3;
    font-weight: 600;
    cursor: pointer;
}

main .start-btn{
    border: none;
    border-radius: .2rem;
    background-color: #0069cc;
    padding: .35rem .7rem;
    color: #ffffff;
    cursor: pointer;
    transition: .3s;
}

main .start-btn:hover{
    background-color: #2483db;
}

.game_section .win-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto 1rem auto;
    padding: 1rem 7rem;
    background-color: #0054a3;
    border-radius: .2rem;
    width: fit-content;
}

.win-box h1{
    color: #ffffff;
    font-size: 1.5rem;
    margin: 0;
}

.win-box p{
    margin: .7rem 0;
    color: #ffffff;
    font-size: .9rem;
}

/* Game styling */

.game_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 3rem auto;
    padding: 1rem;
    width: max-content;
}

.game_box p{
    color: #0069cc;
    margin: 0;
}

.game_box p span{
    font-weight: 600;
}

.game_box ol{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    padding: 0px 3rem;
}

.game_box ol li{
    display: block;
    width: 5rem;
    height: 5rem;
    border-radius: .2rem;
    background-color: #b9dcff;
    transition: .3s;
}

.game_box ol li:hover{
    background-color: #0054a3;
}

.game_box ol li.played{
    background-color: #0054a3;
}